.myImage{
    left: 4vw;
}
.myImage img{
    width: 10vw;
    border-radius: 50%;
}

.name{
    color: white;
    margin-left: 1vw;
}
.top{
    margin-top: 3vh;
}

.project{
    margin-top: 10vh;
}

.blog{
    margin-top: 10vh;
}

.contact{
    margin-top: 10vh;    
}

.transferLinks{
    display: flex;
    justify-content: space-around;
    margin-top: 1vh;;
}

.transferLinks img{
    height: 2vw;
}